.venv/
data/
__pycache__/
*.pyc
.ipynb_checkpoints/
/course summery
/.vscode
/uploaded
.gitattributes
*.zip
Final-report/elliptic_report.log
Final-report/elliptic_report.aux
Final-report/elliptic_report.out
Final-report/exam old sample.pdf
Final-report/elliptic_report_text_for_humanizer.txt
Final-report/elliptic_report - final claude version.pdf
Final-report/elliptic_report - final claude version.tex
Final-report/humnized.txt
texput.log
*.rar
Final-report/elliptic_report - Copy.tex
Final-report/elliptic_report - PREPRINT.tex
Final-report/elliptic_report - PREPRINT.pdf
Final-report/exam old sample - Copy.pdf
Final-report/fixed-report-sajjad-shahali-s340464.tex
Final-report/fixed-report-sajjad-shahali-s340464.pdf
Final-report/presentation.aux
Final-report/presentation.log
Final-report/presentation.nav
Final-report/presentation.out
Final-report/presentation.snm
Final-report/presentation.toc
Final-report/elliptic_report.synctex.gz
